<?xml version="1.0" encoding="UTF-8"?>
<EVENTS>
    <EVENT SOURCE_ID="1269" TRIGGER="5" TARGET_ID="1244" ACTION="8" TYPE="0" DURATION="0.5" PERIOD="1" RE_TRIGGER="0" EFFECT="0" EASING="0"/>
    <EVENT SOURCE_ID="1269" TRIGGER="5" TARGET_ID="1251" ACTION="8" TYPE="0" DURATION="0.5" PERIOD="1" RE_TRIGGER="0" EFFECT="0" EASING="0"/>
</EVENTS>
